# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
/media
/staticfiles
*.log

# Env / Secrets
.env
.env.*
# But not .env.example
!.env.example
*.secret
*.token

# VSCode / Editor
.vscode/
.idea/
*.swp

# Virtual Envs
venv/
env/
ENV/

# Migrations (optional, je nach Workflow)

# Coverage / testing
htmlcov/
.coverage
.tox/
.nox/
coverage.xml
*.cover
*.py,cover
.cache
.pytest_cache/
nosetests.xml
test-results/

# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# OS Dateien
.DS_Store
Thumbs.db