<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Account Activation</title>
</head>
<body>

    <div style="text-align:center; margin:0px 50px 24px 0px;">

        <img src="cid:logo" alt="Videoflix Logo" style="display:block; margin:auto; width: 350px;">
    </div>
        <p style="margin:0 0 16px 0;">
                Dear <a style="color:#562CFF; text-decoration: none; font-weight:bolder;" >{{ user}}</a>,
        </p>


                <p style="margin:0 0 24px 0;">
                Thanks for registering with <strong style="color:#562CFF">Videoflix</strong>.<br>
                To complete your registration and verify your email address,
                please click the link below:
              </p>
    
    <button style="border-radius: 50px;padding: 15px 30px;background-color: #562CFF;border: none;">
    <a style="text-decoration: none;color: white;font-size: 18px;font-weight: bolder;" href="{{ FRONTEND_URL }}/pages/auth/activate.html?uid={{ uid }}&token={{ token }}">
            Activate Account
        </a>
    </button>

    
    <div>
   <p>If you did noch create an account with us, plase disregard this email.</p>

    <p>Best regards, </p>
    <p>Your Videoflix Team</p>
    
     </div>
</body>
</html>