<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Account Activation</title>
</head>
<body>
    <h2>Hello {{ user }}!</h2>
    <p>Thank you for registering. Please click the link below to activate your account:</p>
    
    <p>
        <a href="http://{{ domain }}api/activate/{{ uid }}/{{ token }}/">
            Activate Account
        </a>
    </p>

    <p>If the link does not work, please copy and paste it into your browser:</p>
    <p>http://{{ domain }}api/activate/{{ uid }}/{{ token }}/</p>

    <br>
    <p>Thank you,<br>Your Team</p>
</body>
</html>