<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
</head>
<body>

    <h2>Reset your Password </h2>
    <p>Hello</p>

    <p>We recently received a request to reset your password. If you made this request, please click on the following link to reset your <br> password:</p>

    <p>Please click the link below to set a new password:</p>


    <button style="border-radius: 50px;padding: 15px 30px;background-color: #562CFF;border: none; margin-top: 20px;">
        <a style="text-decoration: none;color: white; font-size: 18px; font-weight: bolder;" href="http://{{ domain }}/api/password_confirm/{{ uid }}/{{ token }}/">
           Reset Password
        </a>
    </button>

    <p style="margin-top: 15px;" >Please note that for security reasons, this link is only valid for 24 hours</p>

    <pstyle="margin-top: 15px;">If you did not request a password reset, please ignore this email</p>

    <p style="margin-top: 15px;"> Best regards, </p>


    <p style="margin-top: 15px;"> Your Videoflix Team! </p>

       <div style="text-align:center; display: flex;justify-content: flex-start">

        <img src="cid:logo" alt="Videoflix Logo" style="display:block;  margin-top: 20px; width: 350px;">
    </div>

</div>

</body>
</html>